﻿html, body {
	height: 100%;
	width: 100%;
	font-family: 'Segoe UI', sans-serif;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	background: black;
}
h3 {
	font-size: 4.5rem;
}