﻿html, body, section {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color: white;
	font-family: 'Segoe UI', sans-serif;
}
#instruction, #mobiledc, #game {	
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.hidden { 
	display: none !important;
}
#mobiledc {
	color: red;
}