﻿doctype html
html
	head
		title Kontroler
		link(rel="stylesheet", href="/public/css/controller.css")
		script(type="text/javascript").
			var roomID = "#{roomID}";
		script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.4.5.js")
		script(type="text/javascript", src="/public/js/controller.js")
	body 
		h3#status