﻿doctype html
html
	head
		title Test kontrolera
		link(rel="stylesheet", href="/public/css/game.css")
		script(type="text/javascript").
			var roomID = "#{roomID}";
		script(type="text/javascript", src="https://code.jquery.com/jquery-3.1.0.min.js")
		script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.4.5.js")
		script(type="text/javascript", src="/public/js/cgame.js")
	body
		section#instruction
			h3 Uruchom na telefonie następującą stronę:
			h4 http://tel.szymek.xyz/r/#{roomID}
		section#mobiledc.hidden
			h3 Kontroler się rozłączył
		section#game.hidden
			canvas#gl